<%= render 'shared/nav' %>
<div class="container-fluid">
    <%= render 'shared/sidenavbar'%>
<div >
  <h3>Paciente Nuevo</h3>
  <hr>
  <br>
  <p> * campos obligatorios </p>
<%= render 'form' %>
</div>
